

body{
    background: #FF788B;
    text-align: center;
    justify-content: center;
    align-items:flex-start;
    font-family: roboto;
}

h1{
    background: #FF788B;
    text-align: center;
    color: #171B1B;
}

img{
    height: 10%;
    width: 10%;
}


.navbar-end {
    background-color: #FF788B;
    margin: 10px;
    position: relative;
    border-radius: 20px;
    padding: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    place-items: center;
    overflow: hidden;
    
}

.navbar-item {
    background-color: #FFC9D1;
    margin-left: 20px;
    box-shadow: 10;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
    border-radius: 20%;
    padding: 40px;
    width: 5%;
    height: 5%;
    justify-content: center;
    place-items: center;
    text-decoration: none;
    color: #171B1B;
}

.navbar-item:hover {
    box-shadow: none;
  }


