<!DOCTYPE html>
<html>
<head>
    <title>Assets</title>
</head>
<body>
    <h1>Asset List</h1>
    <h3>Welcome {{ user.first_name }}, these are your assets</h3>
    <ul>
        {% for asset in assets %}
        <li>{{ asset.name }} -- {{ asset.description }}
        <a href="{{ url_for('edit_asset', user_id=current_user.user_id, asset_id=asset.asset_id) }}">Edit</a>
        </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('create_asset') }}">Create an Asset</a>
    <br>
    <a href="{{ url_for('logout') }}">Log Out</a>
</body>
</html>