<!DOCTYPE html>
<html>
<head>
    <title>Create Asset</title>
    <link rel="stylesheet" href="/static/create_asset.css">
</head>
<body>
    <div class="container">
    <div class="title">Create Asset</div>
    <span id="asset_created">
        <br>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
             {{ message }}
          {% endfor %}
        {% endif %}
        {% endwith %}
        <br>
        <br>
    </span>
    <form method="POST" action="{{ url_for('create_asset') }}">
        <input type="text" name="name" placeholder="Asset Name">
        <br>
        <textarea name="description" placeholder="Asset Description"></textarea>
        <br>
        <button type="submit">Create Asset</button>
    </form>
    <br>
    <a href="{{ url_for('assets', user_id=current_user.user_id) }}" class="navbar-item">
        Back to Assets
    </a>
    </div>
</body>
</html>