<!DOCTYPE html>
<html>
<head>
    <title>Create Asset</title>
    <link rel="stylesheet" href="/static/assets_form.css">
</head>
<body>
    <div class="container">
    <div class="title">Create Asset</div>
    <form method="POST" action="{{ url_for('create_asset') }}">
        <input type="text" name="name" placeholder="Asset Name" title="Asset name is required" maxlength="20" required>
        <br>
        <textarea name="description" placeholder="Asset Description" title="Asset Description is required" maxlength="120" required></textarea>
        <br>
        <button type="submit">Create Asset</button>
    </form>
    <br>
    <div id="asset_created">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <br>
             {{ message }}
          {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <br>
    <a href="{{ url_for('assets', user_id=current_user.user_id) }}" class="navbar-item">
        Back to Assets
    </a>
    </div>
</body>
</html>