<!DOCTYPE html>
<html>
<head>
    <title>Edit Asset</title>
    <link rel="stylesheet" href="/static/assets_form.css">
</head>
<body>
    <div class="container">
    <div class="title">Edit Asset</div>
    <form method="POST" action="{{ url_for('edit_asset', user_id=user.user_id, asset_id=asset.asset_id)}}">
        {{ form.csrf_token }}
        <p>{{ form.asset(size=32) }}</p>
        <br>
        <p>{{ form.assetDescription(size=48) }}</p>
        <br>
        <p>{{ form.submit() }}</p>
    </form>
    <br>
    <a href="{{ url_for('assets', user_id=current_user.user_id) }}">Back to Assets</a>
    </div>
</div>
</body>
</html>