<!DOCTYPE html>
<html>
<head>
    <title>Edit Asset</title>
</head>
<body>
    <h1>Edit Asset</h1>
    <form method="POST", action="{{ url_for('edit_asset', user_id=user.user_id, asset_id=asset.asset_id)}}">
        <div> Current Asset Name:  {{ asset['name'] }}</div>
        <input type="text" name="new_asset_name" placeholder="New Asset Name">
        <br>
        <div> Current Asset Description:  {{ asset['description'] }}</div>
        <textarea name="new_asset_description" placeholder="New Asset Description"></textarea>
        <br>
        <button type="submit">Update Asset</button>
    </form>
    <br>
    <a href="{{ url_for('assets', user_id=current_user.user_id) }}">Back to Dashboard</a>
</body>
</html>