<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/static/home.css">
</head>
<body>
    <div class="navbar-end">
        <a href="{{ url_for('home') }}" class="navbar-item">
            Home
        </a>
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('assets', user_id=current_user.user_id) }}" class="navbar-item">
            Assets
        </a>
        {% endif %}
        {% if not current_user.is_authenticated %}
        <a href="{{ url_for('login') }}" class="navbar-item">
            Login
        </a>
        <a href="{{ url_for('register') }}" class="navbar-item">
            Register
        </a>
        {% endif %}
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('logout') }}" class="navbar-item">
            Log Out
        </a>
        {% endif %}
    </div>
    <h1>Welcome to mettle Asset Management</h1>
    <h2>Welcome to mettle Asset Management</h2>
</body>
</html>