<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/static/home.css">
</head>
<body>
    <img src="https://images.ctfassets.net/qh8pxjjt94qz/5RtcW39bA3GQICBq8eFDtw/16467eb5885c27257ee06695375f502f/Logo-Natwest-Colour.png">
    <h1>Asset Management System</h1>
    <div class="navbar-end">
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('assets', user_id=current_user.user_id) }}" class="navbar-item">
            Assets
        </a>
        {% endif %}
        {% if not current_user.is_authenticated %}
        <a href="{{ url_for('login') }}" class="navbar-item">
            Login
        </a>
        <a href="{{ url_for('register') }}" class="navbar-item">
            Register
        </a>
        {% endif %}
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('logout') }}" class="navbar-item">
            Log Out
        </a>
        {% endif %}
    </div>
</body>
</html>