<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/auth_form.css">
</head>
<body>
    <div class="container">
    <div class="title">Login</div>
    <form method="POST" >
        {{ form.csrf_token }}
        <p>{{ form.email(size=32, placeholder='Email') }}</p>
        <p>{{ form.password(size=32, placeholder='Password') }}</p>
        <p class="submit">{{ form.submit() }}</p>
    </form>
    <br>
    <span>Don't have an account? </span><a href="{{ url_for('register') }}">Register</a>
    <br>
    <span id="error">
        <br>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
             {{ message }}
          {% endfor %}
        {% endif %}
        {% endwith %}
        <br>
    </span>
    </div>
    </div>

</body>
</html>