<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="/static/auth_form.css">
</head>
<body>
    <div class="container">
    <div class="title">Register</div>
    <form method="POST">
        {{ form.csrf_token }}
        <p>{{ form.email(size=32, placeholder='Email') }}</p>
    {% for error in form.email.errors %}
        <span class="error">{{ error }}</span>
    {% endfor %}
        <p>{{ form.password(size=32, placeholder='Password') }}</p>
    {% for error in form.password.errors %}
        <span class="error">{{ error }}</span>
    {% endfor %}
        <p>{{ form.firstName(size=32, placeholder='First Name') }}</p>
    {% for error in form.firstName.errors %}
        <span class="error">{{ error }}</span>
    {% endfor %}
        <p>{{ form.lastName(size=32, placeholder='Last Name') }}</p>
    {% for error in form.lastName.errors %}
        <span class="error">{{ error }}</span>
    {% endfor %}
        <p class="submit">{{ form.submit() }}</p>
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <span class="error">
        {{ message }}. Go to <a href="{{ url_for('login') }}">Login</a>.
    </span>
    {% endfor %}
    <br>
    {% endif %}
    {% endwith %}
    <br>
    <span>Already have an account? </span><a href="{{ url_for('login') }}">Login</a>
    </div>
</body>
</html>