<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="/static/register.css">
</head>
<body>
    <div class="container">
    <div class="title">Register</div>
    <form method="POST" action="{{ url_for('register') }}">
        <input type="email" name="email" placeholder="Email" title="Please register with mettle email address" pattern=".+@mettle\.co\.uk" required> <!-- must register with @mettle.co.uk email address -->
        <input type="password" name="password" placeholder="Password" minlength="6" required>
        <input name="firstName" placeholder="First Name" required>
        <input name="lastName" placeholder="Last Name" required>
        <button type="submit">Register</button>
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <br>
    <span id="registration_error">
        {{ messages[0] }}. Go to <a href="{{ url_for('login') }}">Login</a>.
    </span>
    <br>
    {% endif %}
    {% endwith %}
    <br>
    <span>Already have an account? </span><a href="{{ url_for('login') }}">Login</a>
    </div>
</body>
</html>